<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <script src="https://js.tosspayments.com/v2/standard"></script>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; 할인 쿠폰 &ndash;&gt;-->
<!--<div>-->
<!--    <input type="checkbox" id="coupon-box" />-->
<!--    <label for="coupon-box"> 5,000원 쿠폰 적용 </label>-->
<!--</div>-->
<!--&lt;!&ndash; 결제 UI &ndash;&gt;-->
<!--<div id="payment-method"></div>-->
<!--&lt;!&ndash; 이용약관 UI &ndash;&gt;-->
<!--<div id="agreement"></div>-->
<!--&lt;!&ndash; 결제하기 버튼 &ndash;&gt;-->
<!--<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>-->

<!--<script>-->
<!--    main();-->

<!--    async function main() {-->
<!--        const button = document.getElementById("payment-button");-->
<!--        const coupon = document.getElementById("coupon-box");-->
<!--        // &#45;&#45;&#45;&#45;&#45;&#45;  결제위젯 초기화 &#45;&#45;&#45;&#45;&#45;&#45;-->


<!--        // test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm-->
<!--        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";-->
<!--        const tossPayments = TossPayments(clientKey);-->
<!--        // 회원 결제-->

<!--        const customerKey = "test_ck_24xLea5zVAJEbjzx2e0YrQAMYNwW";-->
<!--        const widgets = tossPayments.widgets({-->
<!--            customerKey,-->
<!--        });-->
<!--        // 비회원 결제-->
<!--        // const widgets = tossPayments.widgets({ customerKey: TossPayments.ANONYMOUS });-->

<!--        // &#45;&#45;&#45;&#45;&#45;&#45; 주문의 결제 금액 설정 &#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        await widgets.setAmount({-->
<!--            currency: "KRW",-->
<!--            value: 50000,-->
<!--        });-->

<!--        await Promise.all([-->
<!--            // &#45;&#45;&#45;&#45;&#45;&#45;  결제 UI 렌더링 &#45;&#45;&#45;&#45;&#45;&#45;-->
<!--            widgets.renderPaymentMethods({-->
<!--                selector: "#payment-method",-->
<!--                variantKey: "DEFAULT",-->
<!--            }),-->
<!--            // &#45;&#45;&#45;&#45;&#45;&#45;  이용약관 UI 렌더링 &#45;&#45;&#45;&#45;&#45;&#45;-->
<!--            widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),-->
<!--        ]);-->

<!--        // &#45;&#45;&#45;&#45;&#45;&#45;  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 &#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        coupon.addEventListener("change", async function () {-->
<!--            if (coupon.checked) {-->
<!--                await widgets.setAmount({-->
<!--                    currency: "KRW",-->
<!--                    value: 50000 - 5000,-->
<!--                });-->

<!--                return;-->
<!--            }-->

<!--            await widgets.setAmount({-->
<!--                currency: "KRW",-->
<!--                value: 50000,-->
<!--            });-->
<!--        });-->

<!--        // &#45;&#45;&#45;&#45;&#45;&#45; '결제하기' 버튼 누르면 결제창 띄우기 &#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        button.addEventListener("click", async function () {-->
<!--            await widgets.requestPayment({-->
<!--                orderId: "6pDokc-3nCvRqZNQcHOA8",-->
<!--                orderName: "토스 티셔츠 외 2건",-->
<!--                successUrl: window.location.origin + "/success.html",-->
<!--                failUrl: window.location.origin + "/fail.html",-->
<!--                customerEmail: "customer123@gmail.com",-->
<!--                customerName: "김토스",-->
<!--                customerMobilePhone: "01012341234",-->
<!--            });-->
<!--        });-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>
<!-- 할인 쿠폰 -->
<div>
    <input type="checkbox" id="coupon-box" />
    <label for="coupon-box"> 5,000원 쿠폰 적용 </label>
</div>
<!-- 결제 UI, 이용약관 UI 영역 -->
<div id="payment-method"></div>
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button id="payment-button">결제하기</button>

<script>
    const coupon = document.getElementById("coupon-box");
    const button = document.getElementById("payment-button");
    const amount = 50000;

    // 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요.
    // 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
    const widgetClientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    // test_ck_24xLea5zVAJEbjzx2e0YrQAMYNwW
    const customerKey = "test_ck_24xLea5zVAJEbjzx2e0YrQAMYNwW";
    const paymentWidget = PaymentWidget(widgetClientKey, customerKey); // 회원 결제
    // const paymentWidget = PaymentWidget(widgetClientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

    const paymentMethodWidget = paymentWidget.renderPaymentMethods(
        "#payment-method",
        { value: amount },
        { variantKey: "DEFAULT" }
    );

    paymentWidget.renderAgreement(
        "#agreement",
        { variantKey: "AGREEMENT" }
    );

    coupon.addEventListener("change", function () {
        if (coupon.checked) {
            paymentMethodWidget.updateAmount(amount - 5000);
        } else {
            paymentMethodWidget.updateAmount(amount);
        }
    });

    button.addEventListener("click", function () {
        // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
        // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
        paymentWidget.requestPayment({
            orderId: "Wd8CHMvUH65QOFY89Xrx_8",
            orderName: "토스 티셔츠 외 2건",
            successUrl: window.location.origin + "/success.html",
            failUrl: window.location.origin + "/fail.html",
            customerEmail: "customer123@gmail.com",
            customerName: "김토스",
            customerMobilePhone: "01012341234",
        });
    });
</script>
</body>
</html>