<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Welcome to Shopping Mall</h1>
    <button id="loginButton" class="action-button" onclick="location.href='/login'">로그인하기</button>
    <button id="singUpButton" th:method="GET" class="action-button" onclick="location.href='/auth/register'">회원가입하기</button>
    <button id="inquiryButton" class="action-button">문의하기</button>
</div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
