<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>로그인</h1>
    <form action="/auth/login" method="POST">
        <label for="userId">UserId:</label>
        <input type="text" id="userId" name="userId" required>
        <button type="submit" class="action-button">로그인</button>
    </form>
</div>
<!--<script th:src="@{/js/login.js}"></script>-->
</body>
</html>
